body{
    background-color: #F2F2F2;
    font-family: 'Nunito', sans-serif;
    color: #828282;
    box-sizing: border-box;
}

.red{
    color: #F57D90;
}
.green{
    color: #6FCF97;
}
.padding_left{
    padding-left: 10px;
}
.margin_top{
    margin-top: 3rem;
}
#left_arrow{
    height: 20px;
    width: 25px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    background-color: #B765C3;
}
#right_arrow{
    height: 20px;
    width: 25px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    background-color: #B765C3;
}

h2{
    text-align: center;
}
h3{
    margin: 0;
}
input[type=text], input[type=password]{
    outline: none;
    border: none;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    height: 21px;
}
textarea{
    outline: none;
    border: none;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    height: auto;
}

.success_banner{
    width: 100%;
    background-color: #6FCF97;
    color: white;
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > p{
    color: #BDBDBD;
}

nav > div{
    display: flex;
    justify-content: center;
}
nav > div > a{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #B765C3;
    text-align: center;
    text-decoration: none;
    color: white;
}
nav > div > a:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 10px;
}
nav > div > a:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 10px;
}
nav > div > a:hover, .active_navbar{
    background-color: #736975;
}

.add_transaction{
    margin: auto;
    width:60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    grid-template-areas:
    "category payment"
    "amount date"
    "type ."
    "comment comment"
    ". button";
}
.add_transaction > div{
    display: flex;
    flex-direction: column;
}
.add_transaction > #category_container{grid-area: category;}
.add_transaction > #payment{grid-area: payment;}
.add_transaction > #amount_container{grid-area: amount;}
.add_transaction > #date_container{grid-area: date;}
.add_transaction > #transaction_type{grid-area: type;}
.add_transaction > #comment{grid-area: comment;}

.add_transaction > div > label {
    display:inline-block;
}

button{
    justify-self: flex-end;
    grid-area: button;
    background-color: #B765C3;
    color: white;
    width: 80px
}

.edit_button{
    color: #B765C3;
}

#filter_select {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#filter_select > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#transaction_list_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.transaction{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: #4F4F4F;
    color: #BDBDBD;
    min-width: 80%;
}
.transaction > .flex_column > div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination_link_container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.pagination_link{
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}
.active_pagination{
    transform: scale(1.5);
    color: #B765C3;
}

#login_form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
/*Home*/
#month_select{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #4F4F4F;
}
#graph_container{
    display: flex;
    justify-content: center;
}
#graph_subcontainer{
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    width: 200px;
    padding-bottom: 10px;
}
canvas{
    padding: 0;
    margin: auto;
    display: block;
    width: 150px;
}
#type_stat_container{
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
}
#type_stat_subcontainer{
    width: 16rem;
    box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}
#type_stat_subcontainer > h3{
    text-align: center;
}
#total_stat{
    display: flex;
    justify-content: center;
}
#total_stat > div{
    padding: 10px;
    font-size: 24px;
}
#debit_amount{
    box-shadow: -4px 0px 0px rgba(0, 0, 0, 0.25);
}
#transaction_home_container{
    border-radius: 1rem;
    background-color: #4F4F4F;
}
#transaction_home_container > h3{
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
    color: #B765C3;
}

.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex_row_buttons{
    display: flex;
    padding-top: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex_row_buttons > div{
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
}
.active_button{
    background-color: #8E4D98;
    color: white;
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
}